* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

.menu__header {
    display: flex;
    align-items: center;
    margin-bottom: 90%;
    height: 50px;
    display: flex;
    width: 100%;
    background: rgb(187, 186, 186);
    border-radius: 25px;
    border: 1px solid #000000;
}

.menu__header:hover {
    background: pink;
    color: white;
}

.menu__h1 {
    padding: 1px 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    height: 40px;
    text-align: center;
}


canvas {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 363);
    align-items: center;
}
